<div class="mainPageDivs" id="aboutMainPageDiv">

  <div class="aboutPageContentDivs" id="aboutPageStoreInfoDiv">
    <div class="aboutPageContentDivTextContainers" id="aboutPageStoreInfoContentTextContainer">

      <h2>Kauffman's Heritage Woodcraft</h2>
      <p>Family owned custom furniture created using reclaimed barnwood located in Fountain City, Indiana</p>
      <p>We have a large selection of unique, high quality furniture and offer custom orders</p>
      <p>Enjoy the rustic feel without the rustic quality!</p>
    </div>
    <div class="aboutPageContentLinkContainers">

      <a href="#" name="button">Visit Shop</a>

    </div>
  </div>
  <div class="aboutPageContentDivs" id="aboutCustomFurniture">
    <div class="aboutPageContentLinkContainers" id="aboutPageCustFurnLinkContainer">

      <a href="#">View Past Work</a>
      <a href="#">Custom Order</a>

    </div>
    <div class="aboutPageContentDivTextContainers" id="aboutPageCustFurnTextContainer">
      <h2>Customize Your Furniture!</h2>
      <p>Every piece of furniture is uniquely created, why not have one uniquely created for you?</p>
      <p>We can turn a family memory into a member of the family!</p>

    </div>

  </div>
</div>
